@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.eot');
    src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('CenturyGothic.woff2') format('woff2'),
    url('CenturyGothic.woff') format('woff'),
    url('CenturyGothic.ttf') format('truetype'),
    url('CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('/static/fonts/CenturyGothic-Bold.eot');
    src: url('/static/fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('/static/fonts/CenturyGothic-Bold.woff') format('woff'),
        url('/static/fonts/CenturyGothic-Bold.ttf') format('truetype'),
        url('/static/fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
